{% set ecr_aws_account_list = [ aws_account_id.stdout ] + ecr_additional_aws_account_list %}

{
    "Version": "2008-10-17",
    "Statement": [
        {
            "Sid": "allow-pull-from-prod",
            "Effect": "Allow",
            "Principal": {
                "AWS":
                  {% if ecr_aws_account_list|length == 1 %}
                    "arn:aws:iam::{{ ecr_aws_account_list[0] }}:root"
                  {% else %}
                    [{% for account_id in ecr_aws_account_list %}"arn:aws:iam::{{ account_id }}:root"{% if not loop.last %},{% endif %}{% endfor %}]
                  {% endif %}
            },
            "Action": [
                "ecr:GetDownloadUrlForLayer",
                "ecr:BatchGetImage",
                "ecr:BatchCheckLayerAvailability"
            ]
        }
    ]
}
